@{
    ViewBag.Title = "الصفحة الرئيسية";
}
<div class="main">
    @Html.Hidden("HideSearchPanel", true)
    <section id="proced_base">
        <div class="container">
            <div class="section-header">
                <h5 class="text-center" style="margin-bottom:10px">مرحبا بك في</h5>
                <h1 class="text-center">نظام نقل الركاب</h1>
                <h5 class="text-center">وزارة النقل</h5>
            </div>
        </div>
       
    </section>
</div>