
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    
</style>


<div style="background: var(--xxsx); width: 200px; height: 200px ">

</div>

<button class="btn" onclick="ch()"></button>

