
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="utf-8" />
    <style>
        *{
            margin:0;
            padding:0;
            box-sizing:border-box;

        }

        body{
            display:flex;
            justify-content:center;
            align-items:center;
            min-height:100vh;
            background:#223243;

        }

        .container {
            border: 8px solid #223243;
            padding: 40px;
            border-radius: 20px;
            box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.35),
           inset -5px -5px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.35);
        }
    </style>
</head>
<body>
<div class="container">
    <div class="form signup">
        <h2>sign up</h2>
        <div class="inputBox">
            <input type="text" required="required" />
            <i class="fa-solid fa-user" ></i>
            <span>username</span>
        </div>
       
        <div class="inputBox">
            <input type="password" required="required" />
            <i class="fa-solid fa-lock"></i>
            <span>password</span>
        </div>
        <div class="inputBox">
            <input type="password" required="required" />
            <i class="fa-solid fa-lock"></i>
            <span>confirm password</span>
        </div>
        <div class="inputBox">
            <input type="submit" value="create" />
            
        </div>
    </div>
    <div class="form singin"></div>
</div>
</body>
</html>