
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .red {
        background-color: red;
    }

    .green {
        background-color: green;
    }

    .blue {
        background-color: #061E47;
    }

    .yellow {
        background-color: yellow;
    }

    .sphere {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        font-size: 500%;
        position: relative;
        box-shadow: inset -10px -10px 5px #000, 10px 10px 30px black, inset 0px 0px 10px black;
        display: inline-block;
        margin: 0.5%;
    }

        .sphere::after {
            background-color: rgba(255, 255, 255, 0.3);
            content: '';
            height: 45%;
            width: 12%;
            position: absolute;
            top: 4%;
            left: 15%;
            border-radius: 50%;
            transform: rotate(40deg);
        }

    .sphere2 {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        font-size: 500%;
        position: relative;
        box-shadow: inset -1px -1px 5px #000, 1px 1px 10px black, inset 0px 0px 10px black;
        display: inline-block;
        margin: 0.5%;
    }

        .sphere2::after {
            background-color: rgba(255, 255, 255, 0.3);
            content: '';
            height: 45%;
            width: 12%;
            position: absolute;
            top: 4%;
            left: 15%;
            border-radius: 50%;
            transform: rotate(40deg);
        }

    .sphere3 {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        font-size: 500%;
        position: relative;
        box-shadow: inset -1px -1px 10px #000, 1px 1px 5px black, inset 0px 0px 1px black;
        display: inline-block;
        margin: 0.5%;
    }

        .sphere3::after {
            background-color: rgba(255, 255, 255, 0.3);
            content: '';
            height: 45%;
            width: 12%;
            position: absolute;
            top: 4%;
            left: 15%;
            border-radius: 50%;
            transform: rotate(40deg);
        }

    .sphere4 {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        font-size: 500%;
        position: relative;
        box-shadow: inset -1px -1px 5px #000, 1px 1px 5px black, inset 0px 0px 1px black;
        display: inline-block;
        margin: 0.5%;
    }

        .sphere4::after {
            background-color: rgba(255, 255, 255, 0.3);
            content: '';
            height: 45%;
            width: 12%;
            position: absolute;
            top: 4%;
            left: 15%;
            border-radius: 50%;
            transform: rotate(40deg);
        }
</style>

@*<div class="sphere red"></div>
    <div class="sphere green"></div>*@
@*<div class="sphere yellow"></div>
    <div class="sphere"></div>*@
<div class="container" style="width:100%;height:100%; text-align:center">
    <div class="row justify-content-center" style="text-align:center">
        <div class="sphere blue col-md-1"></div>
        <div class="sphere blue col-md-1"></div>
        <div class="sphere blue col-md-1"></div>
        <div class="sphere blue col-md-1"></div>
    </div>
    <div class="row justify-content-center" style="text-align:center">
        <div class="sphere blue col-md-1"></div>
        <div class="sphere blue col-md-1"></div>
        <div class="sphere blue col-md-1"></div>
    </div>
    <div class="row justify-content-center" style="text-align:center">
        <div class="sphere2 blue col-md-0.5"></div>
        <div class="sphere2 blue col-md-0.5"></div>
        <div class="sphere2 blue col-md-0.5"></div>
    </div>
    <div class="row justify-content-center" style="text-align:center">
        <div class="sphere3 blue col-md-0.25"></div>
        <div class="sphere3 blue col-md-0.25"></div>
        <div class="sphere3 blue col-md-0.25"></div>
        <div class="sphere3 blue col-md-0.25"></div>

    </div>
    <div class="row justify-content-center" style="text-align:center">
        <div class="sphere4 blue col-md-0.125"></div>
        <div class="sphere4 blue col-md-0.125"></div>
        <div class="sphere4 blue col-md-0.125"></div>
        <div class="sphere4 blue col-md-0.125"></div>

    </div>
    <div class="row justify-content-center" style="text-align:center">
        <div class="sphere4 blue col-md-0.125"></div>
        <div class="sphere4 blue col-md-0.125"></div>

    </div>
    <div class="row justify-content-center" style="text-align:center">
        <div class="sphere4 blue col-md-0.125"></div>


    </div>

</div>
<script>
       $(window).resize(function () {
           var windowsize = $(window).width();
           if (windowsize <= 500) {
               $('.sphere4').fadeOut(400);
               $('.sphere3').fadeOut(400);

           } if (windowsize > 500) {
               $('.sphere4').fadeIn(400);
               $('.sphere3').fadeOut(400);
           }
       });


</script>
